ipykernel
ipython
ipython-genutils
joblib
jupyter-client
jupyter-core
kmeans1d
matplotlib
-e git+git@github.com:gykovacs/mldb.git@0782df2c17965f16eedbe54688e6dc4f538ef1fa#egg=mldb
numpy
openpyxl
pandas
Pillow
pip
scikit-learn
scipy
setuptools
sklearn
statsmodels
tqdm
traitlets
wcwidth
wheel
