ipykernel
ipython
ipython-genutils
joblib
jupyter-client
jupyter-core
kmeans1d
matplotlib
numpy
openpyxl
pandas
Pillow
pip
scikit-learn
scipy
setuptools
sklearn
statsmodels
tqdm
traitlets
wcwidth
wheel
kmeans1d